  .container-carrossel {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 100%;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }
  
  .gallery {
    display: flex;
    gap: 15px;
}

.item {
    /* Removemos o height fixo para permitir a expansão do conteúdo */
    width: 250px;
    /* Permite que o conteúdo defina a altura */
    flex-shrink: 0;
    scroll-snap-align: center;
    transition: opacity 0.6s ease-in-out;
    opacity: 0.5;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Opcional: centraliza verticalmente se a altura for fixa ou se desejar um efeito */
    /* justify-content: center; */
}

.current-item {
    opacity: 1;
}

.item img {
    border-radius: 50%;
    width: 100px;  /* Tamanho fixo para a foto */
    height: 100px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

/* Nome do integrante */
.item h3 {
    font-size: 1.2rem;
    color: var(--base1);
    margin: 5px 0;
    text-align: center;
}

/* Curso ou cargo secundário */
.item h4 {
    font-size: 1rem;
    color: var(--base3);
    margin: 5px 0;
    text-align: center;
}

/* Cargo ou outra informação */
.item p {
    font-size: 0.9rem;
    color: var(--font-color);
    margin: 5px 0;
    text-align: center;
}

/* Social Icons */
.item .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.item .social-icons a {
    font-size: 1.5rem;
    color: var(--base3);
    transition: color 0.3s ease;
}

.item .social-icons a:hover {
    color: var(--base4);
}
