/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --base1: #291e46;
    --base2: #ffc438;
    --base3: #fe903d;
    --base4: #3fcec2;
    --font-color: #252525;
    --background-color: #fdfdfd;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.2rem;
    --font-size-h5: 1rem;
    --font-size-h6: 0.8rem;
    --font-size-p: 1rem;
    --font-size-small: 0.8rem;
}

/* BODY */
body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
}

/* Ajustes de elementos globais */
h1 {
    font-size: var(--font-size-h1);
    color: var(--base1);
    margin: 0.5rem 0;
}
h2 {
    font-size: var(--font-size-h2);
    color: var(--base1);
    margin: 0.5rem 0;
}
h3 {
    font-size: var(--font-size-h3);
    color: var(--base3);
    margin: 0.5rem 0;
}
p {
    font-size: var(--font-size-p);
    margin: 0.5rem 0;
    line-height: 1.6;
    text-align: justify;
}
li {
    list-style: none;
}

.icon_list {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
}
/* HEADER FIXO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--base1);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* CONTAINER FLEX */
.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    height: 50px;
}

/* MENU DESKTOP */
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: var(--base3);
    padding: 12px 20px;
    border-radius: 5px;
    display: block;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background-color: var(--base4);
}

/* MENU MOBILE */
.menu-mobile {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* MAIN -- Conteúdo principal das paginas*/
main {
    margin: 80px auto; 
    padding: 20px;
    max-width: 1200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: --var(background-color);
}

#apresentacao{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 24px;
}
.container-text{
    margin: 30px;
    text-align: left;
}
article{
    margin: 16px;
    text-align: left;
}

.container-text li {
    margin: 0.8rem;
}

.cubo-imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(2, 1fr); /* 2 linhas */
    gap: 10px; /* Espaçamento opcional */
    width: 100%; /* Ajuste conforme necessário */
    max-width: 750px; /* Defina um tamanho máximo se necessário */
    margin: 0 auto; /* Centraliza na página */
}

.img_apresentacao {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Suaviza a animação */
}

.img_apresentacao:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}


/* Inscrição dos participantes */

.container-form {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px;
}

.container-text2 {
    flex: 1; 
    max-width: 60%; 
}

.form_img {
    flex: 1;
    max-width: 30%; 
    height: auto;
}

  
  .btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--base3);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: var(--base4);
  }

  .btn-block {
    display: inline-block;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-block:hover {
    background-color: var(--base1);
  }

/* Botões secundários */
.btn_second {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 25%;
    border: 1px solid var(--base3);
    border-radius: 5px;
}

.btn_second {
    background-color: var(--base3);
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_second:hover {
    background-color: var(--base4);
}

.btn_second a {
    text-decoration: none;
    color: var(--background-color);
}

/* Formulários */
.contact-container {
    display: flex;
    justify-content: space-between; /* Mantém o formulário à esquerda e a imagem à direita */
    align-items: center;
    flex-wrap: wrap; /* Permite ajuste para telas menores */
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Mantém os elementos alinhados à esquerda */
    flex: 1; /* Ocupa o espaço necessário */
}

#contactForm input,
#contactForm textarea,
#contactForm button {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--base3);
    border-radius: 5px;
}

#contactForm button {
    background-color: var(--base3);
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

#contactForm button:hover {
    background-color: var(--base4);
}

.contact_img {
    width: 100%;
    max-width: 500px;
    flex: 1; /* Ocupa o espaço necessário */
}

/* footer */
.main_footer {
    background-color: var(--base1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1000;
}

.footer_text {
    text-align: center;
    font-size: 0.9em;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer_social {
    text-align: center;
    margin-bottom: 10px;
}

.footer_social h3 {
    font-size: 1.2em;
    color: var(--base2);
    margin-bottom: 8px;
}


.footer_center {
    text-align: center;
    max-width: 38rem;
    margin-bottom: 2rem;
}

.footer_center img {
    width: 13rem;
    margin-bottom: 10px;
}

/* Links do Menu (Direita) */
.footer_menu {
    text-align: right;
}

.footer_menu h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--base2);
}

.footer_menu ul {
    list-style: none;
    padding: 0;
}

.footer_menu ul li {
    margin-bottom: 5px;
}

.footer_menu ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer_menu ul li a:hover {
    color: var(--base4);
}

/* Estilos do primeiro texto */
.footer_slogan {
    font-size: 1em;
    font-style: italic;
    color: var(--base2);
    word-wrap: break-word;
    line-height: 1.3;
    text-align: center;
}

/* Estilos do segundo texto */
.footer_mission {
    font-size: 1.1em;
    font-style: italic;
    color: white;
    word-wrap: break-word;
    line-height: 1.3;
    margin-top: 8px;
    text-align: center;
}

.footer_logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer_logo p {
    font-size: 0.9em;
    font-style: italic;
    color: var(--base2);
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--base1);
        width: 200px;
        text-align: right;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu a {
        display: block;
    }

    .menu-mobile {
        display: block;
    }

    .main_footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn_social {
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer_center {
        max-width: 350px;
    }

    .footer_menu {
        text-align: center;
        margin-top: 20px;
    }
}
